body {
  padding: 0;
  margin: 0;
}

.wrapper {
  background: #EDEEF0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ml-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
